// Navigation Styles here
.nav {
    margin-top: 30px;
    padding-right: 2%;
    padding-bottom: 1%;
    display: flex;
    border-bottom: 2px dashed @navigation-border;

    @media (max-width: 500px) {
        display: flex;
        flex-direction: column;
    }
    
    .title {
        width: 50%;
        float: left;

        @media (max-width: 500px) {
            width: 100%;
            float: none;
            text-align: center;
        }

    }

    .navbar {
        width: 48%;
        padding-top: 1.5em;
        float: right;

        @media (max-width: 500px) {
            width: 100%;   
            float: none;
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-content: space-between;
            list-style-type: none;

            @media (max-width: 500px) {
                justify-content: center;
            }
            
            li a {
                color: @shark;
                font-size: 1.6rem;
                text-decoration: none;
                text-align: center;
                display: inline;
                padding: 1.2em;
            }
        }
    }
}