// Navigation Styles here
.nav {
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px dashed @navigation-border;

    .navigation {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        display: flex;
        justify-content: center;

        @media (max-width: 500px) {
            display: flex;
            flex-direction: column;
        }
        
        .title {
            width: 42.5%;
            padding-top: .5em;
            float: left;

            @media (max-width: 500px) {
                width: 100%;
                float: none;
                text-align: center;
            }

        }

        .navbar {
            width: 42.5%;
            padding-top: 1.5em;
            float: right;

            @media (max-width: 500px) {
                width: 100%;   
                float: none;
            }

            ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: space-between;
                list-style-type: none;

                @media (max-width: 500px) {
                    justify-content: center;
                }
                
                li a {
                    color: @shark;
                    font-size: 1.6rem;
                    text-decoration: none;
                    text-align: center;
                    display: inline;
                    padding: 1em;
                }
            }
        }
    }
}